/* design system */

:root {
  --primary-color: #f9f7f6;
  --secondary-color: #000000;
  --tertiary-color: beige; 

  --heading-one: 7rem;
  --heading-two: 2rem;
  --heading-three: 1.2rem;

  --width: 600px;
  --height: 400px;

  --weight-primary: 600;
  --weight-secondary: 200;

  --line-height: 5rem;

 }

body {
    /* margin: 0; */
    /* overflow: hidden; */
    background-color:  rgb(236, 245, 220);
  }
/*   
  h1 {
    position: absolute;
    font-family: "borax-variable", sans-serif;
    font-variation-settings: "wght" 400;
    font-size: 7rem;
      color: rgb(255, 133, 133);
    overflow: hidden;

    display: inline-block;
  } */
  
  h2 {
    position: absolute;
    color: #5d5b5b;
    font-family: "quasimoda", sans-serif;
    font-weight: var(--weight-secondary);
    font-size: var(--heading-three);
    margin-left: 110px;
    bottom: 450px;
  } 


  /* PROJECTS */

  .work {
    z-index: 0;
    position: absolute;
    display: flex;
    gap: 70px;
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    top: 60%;
    max-width: 90%;;
    left: 6%;
     }

  
   
/* TEXT - PROJECTS  */

.heading, p {
  margin: 0;
}

/* .project-text {
  color: #646464;
    font-family: "quasimoda", sans-serif;
    font-weight: 200;
    font-size: var(--heading-two); 
} */

a {
  color: rgb(255, 133, 133);
    font-family: "quasimoda", sans-serif;
    font-weight: 400;
    font-size: 1.5rem; 
    text-decoration: none;
}


.subheading {
  color: #646464;
  font-family: "quasimoda", sans-serif;
  font-weight: 200;
  font-size: 1rem;
}



/* INDIVIDUAL WORK HOVER */

.work-a {
  transition: transform 0.4s ease;

}

.work-a:hover {
  animation: wiggle 0.5s ease infinite;
}


@keyframes wiggle {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(5deg); }
  50% { transform: rotate(-5deg); }
  75% { transform: rotate(3deg); }
  100% { transform: rotate(0deg); }
}

/* HEADING!!  */

.cd-intro {
  margin: 4em auto;
}
@media only screen and (min-width: 768px) {
  .cd-intro {
    margin: 5em auto;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-intro {
    margin: 6em auto;
  }
}
.cd-headline {
  font-size: 3rem;
  line-height: 1.2;
}
@media only screen and (min-width: 768px) {
  .cd-headline {
    font-size: 4.4rem;
    font-weight: 300;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-headline {
    font-size: 6rem;
  }
}
.cd-words-wrapper {
  display: inline-block;
  position: relative;
  text-align: left;
}
.cd-words-wrapper b {
  display: inline-block;
  position: absolute;
  white-space: nowrap;
  left: 0;
  top: 0;
}
.cd-words-wrapper b.is-visible {
  position: relative;
}
.no-js .cd-words-wrapper b {
  opacity: 0;
}
.no-js .cd-words-wrapper b.is-visible {
  opacity: 1;
}
/* -------------------------------- 

xclip 

-------------------------------- */

.cd-headline.clip span {
  z-index: 10;
  font-size: 5rem;
  font-family: "borax-variable", sans-serif;
  font-variation-settings: "wght" 400;   
  color: rgb(255, 133, 133);
  overflow: hidden;
  vertical-align: top;
  display: inline-block;
  /* padding: .2em 0 ; */
  margin-left: 8%;
  margin-top: 15%;
  text-align: center;
}
.cd-headline.clip .cd-words-wrapper {
  font-size: 5rem;
  font-family: "borax-variable",sans-serif;
  font-weight: lighter;  
  font-style: italic;
  color:rgb(255, 133, 133);
  overflow: hidden;
  vertical-align: top;
  text-align: center;
  margin-left: 0%;
}

.cd-headline.clip .cd-words-wrapper::after {
  /* line */
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 2px;
  height: 100%;
  background-color: #3d3d3d;
}
.cd-headline.clip b {
  opacity: 0;
}
.cd-headline.clip b.is-visible {
  opacity: 1;
}