:root {
    --primary-color: #e7ddd2;
    --secondary-color:#000000;
    --tertiary-color: #f2ebe5; 
  
    --heading-one: 15rem;
    --heading-two: 2rem;
    --heading-three: 1.2rem;
  
    --width: 600px;
    --height: 400px;
  
    --weight-primary: 700;
    --weight-secondary: 200;
  
    --line-height: 5rem;
  
   }
  
   /* .custom-cursor {
    cursor: url('heart.png'), auto;
} */
   
   body {
    /* margin: 0; */
    /* overflow: hidden; */
    background-color: var(--primary-color);
  }
  
  h1 {
    z-index: 1;
    /* font-family: "blithe", sans-serif; */
   font-family: "playfair-display", serif;
   position: absolute;
   font-weight: var(--weight-primary);
   font-size: 12rem;    
   margin-left: 110px;
   bottom: 480px;
   line-height: var(--line-height);
   bottom: 0.5rem;
   left: 0.5rem;
  }
  
hr {
  width: 80%;
  margin-top: 60%;
}

.heart {
  /* position: fixed; */
  z-index: 0;
 max-width: 2rem;
 margin-left: 95%;
 margin-top: 2%;
 transition: transform 0.4s ease; /* Add shadow */
}

@keyframes heartThrob {
  0% {
      transform: scale(1); /* Original size */
  }
  50% {
      transform: scale(1.2); /* Slightly larger size */
  }
  100% {
      transform: scale(1); /* Back to original size */
  }
}

.heart:hover {
  transform: scale(1.3); /* Scale the element to 105% of its original size on hover */
}

h2 {
  /* font-family: "area-normal", sans-serif;
font-weight: 100;
font-style: normal; */
  font-family: "courier-prime", monospace;
  font-weight: var(--height); 
font-size: 1.4rem;
margin-top: 10%;
margin-left: 45%;
}

.parent {
 position: relative;
 display: flex;
 gap: 0px;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 flex-wrap: nowrap;
 margin-top: 5%;
 opacity: 80%;
  }

  .svg-image {
    position: relative; /* Position the SVG relative to its closest positioned ancestor */
    top: 1rem; /* Adjust top position as needed */
    left: 0.001rem; /* Adjust left position as needed */
    width: 6rem; /* Adjust the width of the SVG */
    height: auto; 
}

  /* A */



.child-a {
  display: flex;
 scale: 80%;
  /* box-sizing: border-box;
  background-color: var(--tertiary-color);
  justify-content: space-around;
  border: 0.4rem solid transparent; /* Adjusted border width */
  /* border-image: repeating-linear-gradient(45deg, rgb(217, 13, 74), rgb(217, 13, 74) 10px, #153c89 10px, #153c89 20px); 
  border-radius: 15px 15px 15px 15px; 
  box-shadow: 0 0 5px rgba(14, 14, 14, 0.5); */
  transition: transform 0.4s ease; 
   
}

.child-a:hover {
  transform: scale(1.07); /* Scale the element to 105% of its original size on hover */
}

/* B */

.child-b {
  scale: 80%;
  /* display: flex;
  width: 600px;
  height: 400px;
  box-sizing: border-box;
  background-color: var(--tertiary-color);
  border-radius: 15px;
  justify-content: space-around;
  border: 0.4rem solid transparent; 
  border-image: repeating-linear-gradient(45deg, rgb(217, 13, 74), rgb(217, 13, 74) 10px, #153c89 10px, #153c89 20px); 
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(14, 14, 14, 0.5); */
  transition: transform 0.4s ease; /* Add shadow */
}

.child-b:hover {
  transform: scale(1.07); /* Scale the element to 105% of its original size on hover */
}


/* C */

.child-c {
  scale: 80%;
  /* display: flex;
  width: 600px;
  height: 400px;
  box-sizing: border-box;
  background-color: var(--tertiary-color);
  border-radius: 15px;
  justify-content: space-around;
  border: 0.4rem solid transparent; 
  border-image: repeating-linear-gradient(45deg, rgb(217, 13, 74), rgb(217, 13, 74) 10px, #153c89 10px, #153c89 20px); 
  border-image-slice: 1;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(14, 14, 14, 0.5); */
  transition: transform 0.4s ease; /* Add shadow */
}


.child-c:hover {
  transform: scale(1.07); /* Scale the element to 105% of its original size on hover */
}

/* D */

.child-d {
  scale: 80%;
  /* display: flex;
  width: 600px;
  height: 400px;
  box-sizing: border-box;
  background-color: var(--tertiary-color);
  border-radius: 15px;
  justify-content: space-around;
  border: 0.4rem solid transparent; 
  border-image: repeating-linear-gradient(45deg, rgb(217, 13, 74), rgb(217, 13, 74) 10px, #153c89 10px, #153c89 20px); 
  border-image-slice: 1;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(14, 14, 14, 0.5); */
  transition: transform 0.4s ease; /* Add shadow */
  
}


.child-d:hover {
  transform: scale(1.07); /* Scale the element to 105% of its original size on hover */
}

/* E */

.child-e {
  scale: 80%;
  /* display: flex;
  width: 600px;
  height: 400px;
  box-sizing: border-box;
  background-color: var(--tertiary-color);
  border-radius: 15px;
  justify-content: space-around;
  border: 0.4rem solid transparent; 
  border-image: repeating-linear-gradient(45deg, rgb(217, 13, 74), rgb(217, 13, 74) 10px, #153c89 10px, #153c89 20px); 
  border-image-slice: 1;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(14, 14, 14, 0.5); */
  transition: transform 0.4s ease; /* Add shadow */
  
}


.child-e:hover {
  transform: scale(1.07); /* Scale the element to 105% of its original size on hover */
}

/* F */

.child-f {
  scale: 80%;
  /* display: flex;
  width: 600px;
  height: 400px;
  box-sizing: border-box;
  background-color: var(--tertiary-color);
  border-radius: 15px;
  justify-content: space-around;
  border: 0.4rem solid transparent; 
  border-image: repeating-linear-gradient(45deg, rgb(217, 13, 74), rgb(217, 13, 74) 10px, #153c89 10px, #153c89 20px); 
  border-image-slice: 1;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(14, 14, 14, 0.5); */
  transition: transform 0.4s ease; /* Add shadow */
 
}


.child-f:hover {
  transform: scale(1.07); /* Scale the element to 105% of its original size on hover */
}


/* G */

.child-g {
  scale: 80%;
  /* display: flex;
  width: 600px;
  height: 400px;
  box-sizing: border-box;
  background-color: var(--tertiary-color);
  border-radius: 15px;
  justify-content: space-around;
  border: 0.4rem solid transparent; 
  border-image: repeating-linear-gradient(45deg, rgb(217, 13, 74), rgb(217, 13, 74) 10px, #153c89 10px, #153c89 20px); 
  border-image-slice: 1;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(14, 14, 14, 0.5); */
  transition: transform 0.4s ease; 
  
}


.child-g:hover {
  transform: scale(1.07); /* Scale the element to 105% of its original size on hover */
}


/* H */

.child-h {
  scale: 80%;
  /* display: flex;
  width: 600px;
  height: 400px;
  box-sizing: border-box;
  background-color: var(--tertiary-color);
  border-radius: 15px;
  justify-content: space-around;
  border: 0.4rem solid transparent; 
  border-image: repeating-linear-gradient(45deg, rgb(217, 13, 74), rgb(217, 13, 74) 10px, #153c89 10px, #153c89 20px); 
  border-image-slice: 1;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(14, 14, 14, 0.5); */
  transition: transform 0.4s ease; /* Add shadow */
  
}


.child-h:hover {
  transform: scale(1.07); /* Scale the element to 105% of its original size on hover */
}


/* I */

.child-i {
  scale: 80%;
  /* display: flex;
  width: 600px;
  height: 400px;
  box-sizing: border-box;
  background-color: var(--tertiary-color);
  border-radius: 15px;
  justify-content: space-around;
  border: 0.4rem solid transparent;
  border-image: repeating-linear-gradient(45deg, rgb(217, 13, 74), rgb(217, 13, 74) 10px, #153c89 10px, #153c89 20px); 
  border-image-slice: 1;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(14, 14, 14, 0.5); */
  transition: transform 0.4s ease; /* Add shadow */
  
}


.child-i:hover {
  transform: scale(1.07); /* Scale the element to 105% of its original size on hover */
}


/* J */

.child-j {
  scale: 80%;
  /* display: flex;
  width: 600px;
  height: 400px;
  box-sizing: border-box;
  background-color: var(--tertiary-color);
  border-radius: 15px;
  justify-content: space-around;
  border: 0.4rem solid transparent; 
  border-image: repeating-linear-gradient(45deg, rgb(217, 13, 74), rgb(217, 13, 74) 10px, #153c89 10px, #153c89 20px); 
  border-image-slice: 1;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(14, 14, 14, 0.5); */
  transition: transform 0.4s ease; /* Add shadow */
  
}


.child-j:hover {
  transform: scale(1.07); /* Scale the element to 105% of its original size on hover */
}


.text-line {
  z-index: 200;
  height: 1px;
  background-color: black;
  margin-bottom: 10px;
}

.text1 {
  position: absolute;
  font-family: "courier-prime", monospace;
  font-weight: var(--height); 
  font-style: normal;
  font-size: 1.9rem;
  z-index: 300;
  margin-left: 60%;
  margin-top: 25%;
}

.text2 {
  position: absolute;
  font-family: "courier-prime", monospace;
  font-weight: var(--height);
  /* bottom: 0.5rem; */
  font-style: normal;
  font-size: 1.9rem;
  z-index: 300;
  margin-left: 60%;
  margin-top: -38%;
}


.text3 {
  position: absolute;
  font-family: "courier-prime", monospace;
  font-weight: var(--height);
  /* bottom: 0.5rem; */
  font-style: normal;
  font-size: 1.9rem;
  z-index: 300;
  margin-left: 60%;
  margin-top: -38%;
}

.text4 {
  position: absolute;
  font-family: "courier-prime", monospace;
  font-weight: var(--height);
  /* bottom: 0.5rem; */
  font-style: normal;
  font-size: 1.9rem;
  z-index: 300;
  margin-left: 60%;
  margin-top: -38%;
}

.text5 {
  position: absolute;
  font-family: "courier-prime", monospace;
  font-weight: var(--height);
  /* bottom: 0.5rem; */
  font-style: normal;
  font-size: 1.9rem;
  z-index: 300;
  margin-left: 60%;
  margin-top: -38%;
}

.text6 {
  position: absolute;
  font-family: "courier-prime", monospace;
  font-weight: var(--height);
  /* bottom: 0.5rem; */
  font-style: normal;
  font-size: 1.9rem;
  z-index: 300;
  margin-left: 60%;
  margin-top: -38%;
}


.text7 {
  position: absolute;
  font-family: "courier-prime", monospace;
  font-weight: var(--height);
  /* bottom: 0.5rem; */
  font-style: normal;
  font-size: 1.9rem;
  z-index: 300;
  margin-left: 60%;
  margin-top: -38%;
}


.text8 {
  position: absolute;
  font-family: "courier-prime", monospace;
  font-weight: var(--height);
  /* bottom: 0.5rem; */
  font-style: normal;
  font-size: 1.9rem;
  z-index: 300;
  margin-left: 60%;
  margin-top: -38%;
}


.text9 {
  position: absolute;
  font-family: "courier-prime", monospace;
  font-weight: var(--height);
  /* bottom: 0.5rem; */
  font-style: normal;
  font-size: 1.9rem;
  z-index: 300;
  margin-left: 60%;
  margin-top: -38%;
}


.text10 {
  position: absolute;
  font-family: "courier-prime", monospace;
  font-weight: var(--height);
  /* bottom: 0.5rem; */
  font-style: normal;
  font-size: 1.9rem;
  z-index: 300;
  margin-left: 60%;
  margin-top: -38%;
}

