body {
    background-color: rgb(0, 0, 0);
    max-width: 100%;
}

h1 {
    /* display: block; */
    position: fixed;
    color: white;
    font-family: "dreaming-outloud-scriptslant", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
z-index: 3000;
/* left: 4%; */
    transition: transform 0.8s ease; /* Add smooth transition */
    top: 2%;
    left: 5%

}

@keyframes wiggle {
    0% { transform: rotateZ(0); }
    25% { transform: rotateZ(-5deg); }
    50% { transform: rotateZ(5deg); }
    75% { transform: rotateZ(-5deg); }
    100% { transform: rotateZ(0); }
}

h1:hover {
    animation: wiggle 0.8s ease infinite;
}

.time {
    z-index: 1000;
    color: white;
    font-family: "dreaming-outloud-scriptslant", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;

    position: fixed;
    top: 2%;
    left: 80%;
}


@keyframes wiggle {
    0% { transform: rotateZ(0); }
    25% { transform: rotateZ(-5deg); }
    50% { transform: rotateZ(5deg); }
    75% { transform: rotateZ(-5deg); }
    100% { transform: rotateZ(0); }
}

.time:hover {
    animation: wiggle 1s ease infinite;
    color:  rgb(255, 200, 0);
    /* color:  rgb(208, 204, 190); */
    /* scale: 0.9;  */
}

.about {
    color: white;
    font-family: "dreaming-outloud-scriptslant", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;

    position: fixed;
    top: 2%;
    left: 90%;
}

@keyframes wiggle {
    0% { transform: rotateZ(0); }
    25% { transform: rotateZ(-5deg); }
    50% { transform: rotateZ(5deg); }
    75% { transform: rotateZ(-5deg); }
    100% { transform: rotateZ(0); }
}

.about:hover {
    animation: wiggle 1s ease infinite;
    color:  rgb(255, 200, 0);
    /* color:  rgb(208, 204, 190); */
    /* scale: 0.9;  */
}


.slinky1 {
  
    display: block;
    margin-left: 45%;

max-width: 100%;
max-height: 30%;
}


@keyframes pulse {
    0% {
      transform: scale(1.2);
    }
    50% {
      transform: scale(0.5);
    }
    100% {
      transform: scale(1.2);
    }
  }

  .slinky1 {
    animation: pulse 1s infinite;
  }
  

  .slinky2 {

left: 5%;
top: 10%;
max-width: 50%;
max-height: 20%;
}


@keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.8);
    }
    100% {
      transform: scale(1);
    }
  }

  .slinky2 {
    z-index: 2000;
    animation: pulse 1s infinite;
  }
  

  .slinky3 {
  
left: -50%;
top: -40%;
max-width: 100%;
max-height: 20%;
}


@keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.8);
    }
    100% {
      transform: scale(1);
    }
  }

  .slinky3 {
    z-index: 2000;
    animation: pulse 1s infinite;
  }
  

  .slinky4 {
    position: relative;
left: 50%;
bottom: 100%;
max-width: 90%;
max-height: 20%;
}


@keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.8);
    }
    100% {
      transform: scale(1);
    }
  }

  .slinky4 {
    z-index: 2000;
    animation: pulse 1s infinite;
  }
  
  .slinky5 {
    position: relative;
left: -10%;
bottom: 10%;
max-width: 100%;
max-height: 20%;
}


@keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.8);
    }
    100% {
      transform: scale(1);
    }
  }

  .slinky5 {
    z-index: 2000;
    animation: pulse 1s infinite;
  }
  
  @keyframes moveSwiggly {
    0% {
      transform: translateX(-100px);
    }
    100% {
      transform: translateX(100px);
    }
  }
  
  @keyframes changeGradient {
    0% {
      stroke: #ff4daf; /* Red */
    }
    20% {
      stroke: #f97126; /* Orange */
    }
    50% {
      stroke: #ffb000; /* Yellow */
    }
    80% {
      stroke: #f97126; /* Green */
    }
    
    100% {
      stroke: #ff4daf; /* Back to Red */
    }
  }
  

  .star1 path{
   position: relative;
   top: 10%;
   left: 10%;
    fill: none;
    stroke-width: 2;
    /* animation: moveSwiggly 60s linear infinite;  */
    
  }
  
  .star1 path {
    animation: changeGradient 60s linear infinite; /* Change gradient every minute */
    
  }
  
 
  
  

  /* .star2 path{
    fill: none;
    stroke-width: 2
  }
  
  .star2 path {
    animation: changeGradient 60s linear infinite;
  }

  .star3 path{
    fill: none;
    stroke-width: 2;
    animation: moveSwiggly 60s linear infinite; 
  }
  
  .star3 path {
    animation: changeGradient 60s linear infinite; 
  }

  .star4 path{
    fill: none;
    stroke-width: 2;
    animation: moveSwiggly 60s linear infinite; 
  }
  
  .star4 path {
    animation: changeGradient 60s linear infinite; 
  } */
  