/* design system */

:root {
  --primary-color: #f9f7f6;
  --secondary-color: #000000;
  --tertiary-color: beige; 

  --heading-one: 7rem;
  --heading-two: 2rem;
  --heading-three: 1.2rem;

  --width: 600px;
  --height: 400px;

  --weight-primary: 600;
  --weight-secondary: 200;

  --line-height: 5rem;

 }

body {
    /* margin: 0; */
    /* overflow: hidden; */
    background-color: var(--primary-color);
  }
  
  h1 {
    position: absolute;
    font-family: "forma-djr-display", sans-serif;
    font-weight: var(--weight-primary);
    font-size: var(--heading-one);    
    margin-left: 110px;
    bottom: 480px;
    line-height: var(--line-height);
  }
  
  h2 {
    position: absolute;
    color: #000000;
    font-family: "quasimoda", sans-serif;
    font-weight: var(--weight-secondary);
    font-size: var(--heading-three);
    margin-left: 110px;
    bottom: 450px;
  } 

  /* .img {
    max-width: var(--width);
    max-height: var(--height);
  } */


  /* Projects */

  .work {
    display: flex;
    gap: 70px;
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30%;
   


  }

.work-a {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 400px;
  box-sizing: border-box;
  background-color: var(--tertiary-color);
  border-radius: 15px;
  justify-content: space-around;
}

.work-b {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 400px;
  box-sizing: border-box;
  background-color: var(--tertiary-color);
  border-radius: 15px;
  justify-content: space-around;
}

.work-c {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 400px;
  box-sizing: border-box;
  background-color: var(--tertiary-color);
  border-radius: 15px;
  justify-content: space-around;
}

.work-d {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 400px;
  box-sizing: border-box;
  background-color: var(--tertiary-color);
  border-radius: 15px;
  justify-content: space-around;
}

.work-e {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 400px;
  box-sizing: border-box;
  background-color: var(--tertiary-color);
  border-radius: 15px;
  justify-content: space-around;
}

.work-f {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 400px;
  box-sizing: border-box;
  background-color: var(--tertiary-color);
  border-radius: 15px;
  justify-content: space-around;
}

/* Text */


.heading, p {
  margin: 0;
}

.project-text {
    color: #000000;
    font-family: "quasimoda", sans-serif;
    font-weight: 200;
    font-size: var(--heading-two); 
}

.subheading {
  color: #000000;
  font-family: "quasimoda", sans-serif;
  font-weight: 200;
  font-size: 1rem;
}


