:root {
    --primary-color: #e7ddd2;
    --secondary-color:#000000;
    --tertiary-color: #f2ebe5; 
  
    --heading-one: 15rem;
    --heading-two: 2rem;
    --heading-three: 1.2rem;
  
    --width: 600px;
    --height: 400px;
  
    --weight-primary: 700;
    --weight-secondary: 200;
  
    --line-height: 5rem;
  
   }
  
   /* .custom-cursor {
    cursor: url('heart.png'), auto;
} */
   
   body {
    /* margin: 0; */
    /* overflow: hidden; */
    background-color: var(--primary-color);
  }
  
  h1 {
    position: fixed;
    z-index: 10;
   font-family: "dupincel-variable",sans-serif;
   font-size: 10rem;
   margin-left: 40%;
   bottom: 35%;
  }
  
hr {
  width: 80%;
  margin-top: 60%;
}

@keyframes heartThrob {
  0% {
      transform: scale(1); /* Original size */
  }
  50% {
      transform: scale(1.2); /* Slightly larger size */
  }
  100% {
      transform: scale(1); /* Back to original size */
  }
}



.heart {
  z-index: 9;
  position: fixed;
  width: 5rem;
  margin-left: 80%;
  bottom: 75%;
  /* margin-top: 38%;
  margin-left: 24%; */
  rotate: 20deg;
  animation: heartThrob 3s infinite;

}



h2 {
  /* font-family: "area-normal", sans-serif;
font-weight: 100;
font-style: normal; */
  font-family: "courier-prime", monospace;
  font-weight: var(--height); 
font-size: 1.4rem;
margin-top: 12%;
margin-left: 45%;
}

p {
  max-width: 50%;
  font-family: "courier-prime", monospace;
  font-weight: var(--height); 
  font-size: 1rem;
  margin-left: 10rem;
  margin-top: 2.5rem;
}
