:root {
    --primary-color: #e7ddd2;
    --secondary-color:#000000;
    --tertiary-color: #f2ebe5; 
  
    --heading-one: 15rem;
    --heading-two: 2rem;
    --heading-three: 1.2rem;
  
    --width: 600px;
    --height: 400px;
  
    --weight-primary: 700;
    --weight-secondary: 200;
  
    --line-height: 5rem;
  
   }
  
   /* .custom-cursor {
    cursor: url('heart.png'), auto;
} */
   
   body {
    /* margin: 0; */
    /* overflow: hidden; */
    background-color: var(--primary-color);
  }
  
  h1 {
    position: fixed;
    z-index: 10;
   font-family: "dupincel-variable",sans-serif;
   font-size: 10rem;
   margin-left: 40%;
   bottom: 35%;
  }
  
hr {
  width: 80%;
  margin-top: 60%;
}

@keyframes heartThrob {
  0% {
      transform: scale(1); /* Original size */
  }
  50% {
      transform: scale(1.2); /* Slightly larger size */
  }
  100% {
      transform: scale(1); /* Back to original size */
  }
}



.heart {
  z-index: 9;
  position: fixed;
  width: 5rem;
  margin-left: 80%;
  bottom: 75%;
  /* margin-top: 38%;
  margin-left: 24%; */
  rotate: 20deg;
  animation: heartThrob 3s infinite;

}



h2 {
  /* font-family: "area-normal", sans-serif;
font-weight: 100;
font-style: normal; */
  font-family: "courier-prime", monospace;
  font-weight: var(--height); 
font-size: 1.4rem;
margin-top: 12%;
margin-left: 45%;
}

.parent {
 position: relative;
 display: flex;
 gap: 70px;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 flex-wrap: wrap;
 margin-top: 5%;
  }

.stamp1 {
  z-index: 3;
  position: absolute;
  width: 15%;
  margin-top: 35%;
  margin-left: 30%;
  animation: fadeIn 2s forwards; /* Apply the fadeIn animation with a duration of 2s */
  animation-delay: 1s; /* Delay the animation start by 1s */
  /* rotate: -25deg; */
  /* animation: reveal 7s forwards;
    opacity: 0;
   animation-delay: 1s; */
}

.stamp2 {
  position: absolute;
  width: 20%;
  margin-top: 5%;
  margin-left: 10%;
  rotate: 30deg;
  
}

.stamp3 {
  position: absolute;
  width: 20%;
  margin-top: 15%;
  margin-left: 50%;
  /* Initially set opacity to 0 */
  animation-fill-mode: forwards; /* Keeps the element visible at the end of the animation */
  animation: fadeIn 2s forwards; /* Apply the fadeIn animation with a duration of 2s */
  animation-delay: 1s; /* Delay the animation start by 1s */

}

.stamp4 {
  /* z-index: 12; */
  position: absolute;
  width: 30%;
  margin-top: 20%;
  margin-left: 30%;
}

.stamp5 {
  /* z-index: 12; */
  position: absolute;
  width: 30%;
  margin-top: 25%;
  margin-left: 55%;

}

.stamp6 {
  /* z-index: 12; */
  position: absolute;
  width: 20%;
  margin-top: 10%;
  margin-left: 15%;

}

.stamp7 {
  /* z-index: 12; */
  position: absolute;
  width: 20%;
  margin-top: 10%;
  margin-left: 15%;

}