body {
    background-color: rgb(0, 0, 0);
}

p {
    color: white;
    font-size: 1.2rem;
    font-family: "area-normal", sans-serif;
font-weight: 400;
font-style: normal;
margin-top: 20%;
text-align: center;
}

.about {
    color: white;
    font-family: "dreaming-outloud-scriptslant", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;

    position: fixed;
    top: 2%;
    left: 90%;
}

@keyframes wiggle {
    0% { transform: rotateZ(0); }
    25% { transform: rotateZ(-5deg); }
    50% { transform: rotateZ(5deg); }
    75% { transform: rotateZ(-5deg); }
    100% { transform: rotateZ(0); }
}

.about:hover {
    animation: wiggle 1s ease infinite;
    color:  rgb(255, 200, 0);
    /* scale: 0.9;  */
}



.icon {
    position: fixed;
    max-width: 4rem;
  top: 3%;
  left: 3%;
  transition: transform 0.3s ease;
}

.icon:hover {
    transform: scale(1.2);
}